:root {
  --kicl--components--heading--padding-block-end: 0;
  --kicl--components--heading--padding-block-start: 0;
}

.kicl--components--heading {
  padding-block-end: var(--kicl--components--heading--padding-block-end);
  padding-block-start: var(--kicl--components--heading--padding-block-start);

  &:not(&--is-dense):has(+ *) {
    --kicl--components--heading--padding-block-start: var(--kicl-gutter-narrow);
    --kicl--components--heading--padding-block-end: var(
      --kicl-gutter-narrowest
    );
  }
}
