:root {
  --kicl--components--video--background: var(--kicl-color-white);
  --kicl--components--video--object-fit: contain;
}

.kicl--theme--dark {
  --kicl--components--video--background: var(--kicl-color-black);
}

.kicl--theme--light {
  --kicl--components--video--background: var(--kicl-color-white);
}

.kicl--components--video {
  background: var(--kicl--components--video--background);
  overflow: hidden;

  &--object-fit--cover {
    --kicl--components--video--object-fit: cover;
  }

  &--object-fit--fill {
    --kicl--components--video--object-fit: fill;
  }

  video {
    object-fit: var(--kicl--components--video--object-fit);
  }
}
