.kicl--components--separator {
  --kicl--components--separator--color: var(--kicl-color-grey-light);
  --kicl--components--separator--size: var(--kicl-size-1px);

  background-color: var(--kicl--components--separator--color);
  border: 0;

  &--horizontal {
    block-size: var(--kicl--components--separator--size);
    inline-size: 100%;
  }

  &--vertical {
    align-self: stretch;
    block-size: auto;
    inline-size: var(--kicl--components--separator--size);
    min-block-size: 100%;
  }

  @at-root .kicl--theme--dark & {
    --kicl--components--separator--color: var(--kicl-color-grey-dark);
  }

  @at-root .kicl--theme--light & {
    --kicl--components--separator--color: var(--kicl-color-grey-light);
  }
}
