.kicl--components--radio-group {
  &__control {
    --kicl--components--radio-group--item--border-color: var(
      --kicl-color-grey-darker
    );
    --kicl--components--radio-group--item--dot: var(--kicl-color-grey-darker);
    --kicl--components--radio-group--item--size: var(--kicl-size-2x);

    appearance: none;
    block-size: var(--kicl--components--radio-group--item--size);
    border: var(--kicl-size-1px) solid
      var(--kicl--components--radio-group--item--border-color);
    border-radius: 50%;
    flex-shrink: 0;
    inline-size: var(--kicl--components--radio-group--item--size);

    &:checked {
      background: radial-gradient(
        circle,
        var(--kicl--components--radio-group--item--dot) 0 27.5%,
        transparent calc(27.5% + var(--kicl-size-1px))
      );
    }

    &[aria-invalid='true'],
    &:user-invalid {
      border-color: var(--kicl-color-error);
    }
  }

  @at-root .kicl--theme--dark &__control {
    --kicl--components--radio-group--item--border-color: var(--kicl-color-grey);
    --kicl--components--radio-group--item--dot: var(--kicl-color-white);
  }

  @at-root .kicl--theme--light &__control {
    --kicl--components--radio-group--item--border-color: var(
      --kicl-color-grey-darker
    );
    --kicl--components--radio-group--item--dot: var(--kicl-color-grey-darker);
  }
}
