.kicl--components--switch-field {
  &:has(:disabled) {
    cursor: not-allowed;
  }
}

.kicl--components--switch__label {
  user-select: none;
}

.kicl--components--switch {
  --kicl--components--switch--track: var(--kicl-color-grey-light);
  --kicl--components--switch--thumb: var(--kicl-color-white);
  --kicl--components--switch--checked: var(--kicl-color-confirm);
  --kicl--components--switch--block-size: calc(
    var(--kicl-size) + var(--kicl-size-half)
  );
  --kicl--components--switch--inline-size: var(--kicl-size-3x);
  --kicl--components--switch--padding: var(--kicl-size-1px);

  align-items: center;
  appearance: none;
  background: var(--kicl--components--switch--track);
  block-size: var(--kicl--components--switch--block-size);
  border-radius: 999px;
  display: inline-flex;
  flex-shrink: 0;
  inline-size: var(--kicl--components--switch--inline-size);
  padding: var(--kicl--components--switch--padding);
  transition:
    background-color var(--kicl-transition-duration-fast)
    var(--kicl-ease-quint-in-out),
    box-shadow var(--kicl-transition-duration-fast)
    var(--kicl-ease-quint-in-out);

  // The thumb.
  &::before {
    background: var(--kicl--components--switch--thumb);
    block-size: calc(
      var(--kicl--components--switch--block-size) -
      (var(--kicl--components--switch--padding) * 2)
    );
    border-radius: 50%;
    box-shadow: 0 var(--kicl-size-1px) var(--kicl-size-2px) rgb(0 0 0 / 18%);
    content: '';
    display: block;
    flex-shrink: 0;
    inline-size: calc(
      var(--kicl--components--switch--block-size) -
      (var(--kicl--components--switch--padding) * 2)
    );
    transition: translate var(--kicl-transition-duration-fast)
      var(--kicl-ease-quint-in-out);
    translate: 0;
  }

  &:checked {
    background: var(--kicl--components--switch--checked);

    &::before {
      // Uniform padding → travel = track width − track height.
      translate: calc(
        var(--kicl--components--switch--inline-size) - var(
          --kicl--components--switch--block-size
        )
      );
    }
  }

  &--size--sm {
    --kicl--components--switch--block-size: var(--kicl-size);
    --kicl--components--switch--inline-size: var(--kicl-size-2x);
    --kicl--components--switch--padding: var(--kicl-size-hair);
  }

  @at-root .kicl--theme--dark & {
    --kicl--components--switch--track: var(--kicl-color-grey-dark);
  }
}
