:root {
  // black
  --kicl-color-black: #{$black};
  --kicl-color-black-light: #{tint($black, 20)};
  --kicl-color-black-pure: #000;

  // grey
  --kicl-color-grey: #{$grey};
  --kicl-color-grey-darkest: #{shade($grey, 90)};
  --kicl-color-grey-darker: #{shade($grey, 60)};
  --kicl-color-grey-dark: #{shade($grey, 30)};
  --kicl-color-grey-light: #{tint($grey, 25)};
  --kicl-color-grey-lighter: #{tint($grey, 50)};

  // white
  --kicl-color-white: #{$white};
  --kicl-color-white-darker: #{shade($white, 50)};
  --kicl-color-white-dark: #{shade($white, 25)};
  --kicl-color-white-light: #{tint($white, 25)};
  --kicl-color-white-lighter: #{tint($white, 50)};
  --kicl-color-white-pure: #fff;

  // Colors
  --kicl-color-blue: #{$blue};
  --kicl-color-green: #{$green};
  --kicl-color-orange: #{$orange};
  --kicl-color-red: #{$red};
  --kicl-color-yellow: #{$yellow};

  // functional
  --kicl-color-warning: var(--kicl-color-yellow);
  --kicl-color-info: var(--kicl-color-blue);
  --kicl-color-error: var(--kicl-color-red);
  --kicl-color-confirm: var(--kicl-color-green);
}

.kicl-color-gradient-rotate-0deg {
  --kicl-color-gradient-rotate: 0deg;
}

.kicl-color-gradient-rotate-90deg {
  --kicl-color-gradient-rotate: 90deg;
}

.kicl-color-gradient-rotate-180deg {
  --kicl-color-gradient-rotate: 180deg;
}

.kicl-color-gradient-rotate-270deg {
  --kicl-color-gradient-rotate: 270deg;
}

.kicl-background-color-body-color {
  background-color: var(--kicl-body-color);
}

.kicl-color-body-color {
  color: var(--kicl-body-color);
}

.kicl-fill-body-color {
  fill: var(--kicl-body-color);
}

@mixin make-color-variable-class($identifier: null) {
  @include make-variable-class('color', $identifier);

  @if $identifier {
    .kicl-background-color-#{$identifier} {
      background-color: var(--kicl-color-#{$identifier});
    }

    .kicl-color-#{$identifier} {
      --kicl-body-color: var(--kicl-color-#{$identifier});
    }

    .kicl-fill-#{$identifier} {
      fill: var(--kicl-color-#{$identifier});
    }
  }
}

// Color Black
@include make-color-variable-class('black');
@include make-color-variable-class('black-light');
@include make-color-variable-class('black-pure');

// Color Grey
@include make-color-variable-class('grey-darker');
@include make-color-variable-class('grey-dark');
@include make-color-variable-class('grey');
@include make-color-variable-class('grey-light');
@include make-color-variable-class('grey-lighter');
@include make-color-variable-class('grey-darkest');

// Color White
@include make-color-variable-class('white-darker');
@include make-color-variable-class('white-dark');
@include make-color-variable-class('white');
@include make-color-variable-class('white-light');
@include make-color-variable-class('white-lighter');
@include make-color-variable-class('white-pure');

// Color Palette
@include make-color-variable-class('blue');
@include make-color-variable-class('green');
@include make-color-variable-class('orange');
@include make-color-variable-class('red');
@include make-color-variable-class('yellow');

// Color Status
@include make-color-variable-class('confirm');
@include make-color-variable-class('error');
@include make-color-variable-class('info');
@include make-color-variable-class('warning');
