:root {
  --kicl-transition-duration-5m: #{$speed * 500};
  --kicl-transition-duration-1m: #{$speed * 100};
  --kicl-transition-duration-30s: #{$speed * 50};
  --kicl-transition-duration-15s: #{$speed * 25};
  --kicl-transition-duration-6s: #{$speed * 10};
  --kicl-transition-duration-extreme: #{$speed * 8};
  --kicl-transition-duration-slowest: #{$speed * 1.8};
  --kicl-transition-duration-slower: #{$speed * 1.6};
  --kicl-transition-duration-slow: #{$speed * 1.2};
  --kicl-transition-duration: #{$speed};
  --kicl-transition-duration-fast: #{$speed * 0.8};
  --kicl-transition-duration-faster: #{$speed * 0.6};
  --kicl-transition-duration-fastest: #{$speed * 0.2};
  --kicl-transition-duration-instant: 0s;
}

@include make-variable-class('transition-duration', 'extreme');
@include make-variable-class('transition-duration', 'slowest');
@include make-variable-class('transition-duration', 'slower');
@include make-variable-class('transition-duration', 'slow');
@include make-variable-class('transition-duration');
@include make-variable-class('transition-duration', 'fast');
@include make-variable-class('transition-duration', 'faster');
@include make-variable-class('transition-duration', 'fastest');
