:root {
  --kicl-size: #{$size};
  --kicl-size-hair: 0.2px;
  --kicl-size-1px: 1px;
  --kicl-size-2px: 2px;
  --kicl-size-3px: 3px;
  --kicl-size-half: calc(var(--kicl-size) * 0.5);
  --kicl-size-2x: calc(var(--kicl-size) * 2);
  --kicl-size-3x: calc(var(--kicl-size) * 3);
  --kicl-size-4x: calc(var(--kicl-size) * 4);
  --kicl-size-5x: calc(var(--kicl-size) * 5);
  --kicl-size-6x: calc(var(--kicl-size) * 6);
  --kicl-size-7x: calc(var(--kicl-size) * 7);
  --kicl-size-8x: calc(var(--kicl-size) * 8);
  --kicl-size-9x: calc(var(--kicl-size) * 9);
  --kicl-size-10x: calc(var(--kicl-size) * 10);
  --kicl-size-11x: calc(var(--kicl-size) * 11);
  --kicl-size-12x: calc(var(--kicl-size) * 12);
  --kicl-size-13x: calc(var(--kicl-size) * 13);
  --kicl-size-14x: calc(var(--kicl-size) * 14);
  --kicl-size-15x: calc(var(--kicl-size) * 15);
  --kicl-size-16x: calc(var(--kicl-size) * 16);
  --kicl-size-17x: calc(var(--kicl-size) * 17);
  --kicl-size-18x: calc(var(--kicl-size) * 18);
  --kicl-size-19x: calc(var(--kicl-size) * 19);
  --kicl-size-20x: calc(var(--kicl-size) * 20);
  --kicl-size-full: 100%;
}

@include make-size-variable-class('border-radius', 'none', '0px');
@include make-size-variable-class('border-radius', 'xs', '2px');
@include make-size-variable-class('border-radius', 'sm', 'half');
@include make-size-variable-class('border-radius', 'md');
@include make-size-variable-class('border-radius', 'lg', '2x');
@include make-size-variable-class('border-radius', 'xl', '3x');
@include make-size-variable-class('border-radius', 'xxl', '4x');
@include make-size-variable-class('border-radius', 'max', '6x');
@include make-size-variable-class('border-radius', 'full', 'full');
@include make-size-variable-class('inline-size', 'xs', '4x');
@include make-size-variable-class('inline-size', 'sm', '6x');
@include make-size-variable-class('inline-size', 'md', '10x');
@include make-size-variable-class('inline-size', 'lg', '14x');
@include make-size-variable-class('inline-size', 'xl', '16x');
@include make-size-variable-class('inline-size', 'xxl', '18x');
@include make-size-variable-class('inline-size', 'max', '20x');
@include make-size-variable-class('inline-size', 'full', 'full');
@include make-size-variable-class('block-size', 'full', 'full');

.kicl-block-size-screen {
  block-size: 100dvb;
}

.kicl-min-block-size-screen {
  min-block-size: 100dvb;
}
