:root {
  --kicl--components--spinner--background-color: transparent;
  --kicl--components--spinner--position: relative;
  --kicl--components--spinner--block-size: inherit;
  --kicl--components--spinner--inset-block-start: initial;
  --kicl--components--spinner--inset-inline-start: initial;
  --kicl--components--spinner--inline-size: inherit;
  --kicl--components--spinner--svg--padding: 0;
  --kicl--components--spinner--svg--block-size: var(--kicl-size-2x);
  --kicl--components--spinner--svg--inline-size: var(--kicl-size-2x);
}

.kicl--components--spinner {
  background-color: var(--kicl--components--spinner--background-color);
  block-size: var(--kicl--components--spinner--block-size);
  inline-size: var(--kicl--components--spinner--inline-size);
  inset-block-start: var(--kicl--components--spinner--inset-block-start);
  inset-inline-start: var(--kicl--components--spinner--inset-inline-start);
  position: var(--kicl--components--spinner--position);

  &--icon {
    block-size: var(--kicl--components--spinner--svg--block-size);
    inline-size: var(--kicl--components--spinner--svg--inline-size);
  }

  &--position--inline {
    --kicl--components--spinner--block-size: auto;
    --kicl--components--spinner--inline-size: auto;

    line-height: 0;
  }

  &--position--overlay {
    --kicl--components--spinner--block-size: 100%;
    --kicl--components--spinner--inset-block-start: 0;
    --kicl--components--spinner--inset-inline-start: 0;
    --kicl--components--spinner--inline-size: 100%;
    --kicl--components--spinner--position: absolute;

    @at-root *:has(> &) {
      position: relative;
    }
  }

  &--size--small {
    --kicl--components--spinner--svg--block-size: var(--kicl-size);
    --kicl--components--spinner--svg--inline-size: var(--kicl-size);
  }

  // As big as the element it sits in.
  &--size--inherit {
    --kicl--components--spinner--svg--block-size: 1em;
    --kicl--components--spinner--svg--inline-size: 1em;
  }
}
