.kicl--components--select__item {
  &:hover,
  &:focus-visible {
    background: var(--kicl-color-grey-light);
  }

  &::checkmark {
    order: 1;
    margin-inline-start: auto;
  }

  @at-root .kicl--theme--dark & {
    &:hover,
    &:focus-visible {
      background: var(--kicl-color-grey-dark);
    }
  }
}
