.kicl--components--date-picker {
  &__trigger {
    align-items: center;
    gap: var(--kicl-gutter-narrower);
    justify-content: flex-start;
  }

  &__icon {
    block-size: 1em;
    flex-shrink: 0;
    inline-size: 1em;
  }
}
