.kicl--components--button {
  --kicl--components--button--padding-block: var(--kicl-gutter-narrow);
  --kicl--components--button--padding-inline: var(--kicl-gutter);

  // An icon button is as wide as it is tall. See `--icon` in `styles.scss`.
  --kicl--components--button--padding-inline-icon: var(--kicl-gutter-narrow);

  &:not(&--unstyled) {
    padding-block: var(--kicl--components--button--padding-block);
    padding-inline: var(--kicl--components--button--padding-inline);

    &.kicl--components--button--size {
      &--large {
        --kicl--components--button--padding-block: var(--kicl-gutter);
        --kicl--components--button--padding-inline: var(--kicl-gutter-wide);
        --kicl--components--button--padding-inline-icon: var(--kicl-gutter);
      }

      &--small {
        font-size: 0.7em;
      }
    }
  }
}
